# Frontend Environment Variables (Next.js)
NEXT_PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090
NEXT_PUBLIC_API_URL=http://127.0.0.1:5000

# Backend Environment Variables (Flask)
POCKETBASE_URL=http://127.0.0.1:8090
MAP_LIMIT_GENERATOR=10
PORT=5000
FLASK_DEBUG=false
